<div class="d-flex flex-wrap p-3 justify-content-around align-content-center flex-grow-1 text-center">
    <img src="assets/stella.jpg" class="logo" alt="Pizzeria Stella Logo">
    <h5 class="text-light mt-auto mb-auto"><a href="https://maps.app.goo.gl/1JqDaQKXPX8JgH216" target="_blank" class="link-light"><i class="bi bi-geo-alt-fill me-3"></i> Via Filippo Corridoni 70, Montirone BS, Italy</a></h5>
    <h5 class="text-light mt-auto mb-auto"><i class="bi bi-telephone-fill me-3"></i> <a href="tel:+39 030 267 7054" class="link-light">+39 030 267 7054</a></h5>
</div>
